//compileCompressed: ../style.min.css

.easy-autocomplete-container {
    top: 56px;
}

.easy-autocomplete-container ul .eac-category,
.easy-autocomplete-container ul li {
    text-align: left;
    padding: 19px 12px;
    font-family: 'Rubik', sans-serif;
    font-weight: lighter;
}

.eac-item {
    overflow: hidden;
}

.blank-logo {
    display: table-cell;
    vertical-align: middle;
    padding-right: 10px;

    img {
        width: 30px;
    }
}

.easy-autocomplete-container ul li div .row-span {
    padding-right: 10px;
    display: table-cell;
    vertical-align: middle;
}

.school-value {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    max-width: 236px;
}

.region-program {
    font-family: 'Poppin', sans-serif;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    max-width: 236px;
    font-size: 13px;
    color: #a9a9a9;
}


// ---------------------------------------------------------- Bourbon
@import "../../bower_components/bourbon/app/assets/stylesheets/bourbon";


// ---------------------------------------------------------- Spacing
.mb20 {
    margin-bottom: 20px !important;
}
// ---------------------------------------------------------- Reset
input::-webkit-input-placeholder {
    color: #999 !important;
}

input:-moz-placeholder {
    /* Firefox 18- */
    color: #999 !important;
}

input::-moz-placeholder {
    /* Firefox 19+ */
    color: #999 !important;
}

input:-ms-input-placeholder {
    color: #999 !important;
}
// ---------------------------------------------------------- Default Navigation
.dropdown-toggle::after {
    display: inline-block;
    width: 0;
    margin-right: 1.25rem;
    vertical-align: middle;
    content: "\E313";
    font-family: "Material Icons";
}

body {
    font-family: "Rubik", sans-serif;
    margin-top: 67px;
    background: #eee;
}

.navbar {
    font-family: "Rubik", sans-serif;
    font-size: 14px;
}

.navbar-padding {
    padding-right: 25px;
    padding-left: 5px;
}

.nav > li > a {
    padding: 22px 10px 23px;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    color: #fff;
    background: #fd8204;
}

.navbar-default {
    background-color: #ffffff;

    .navbar-nav > li > a {
        color: #888;
        border: none;
        border-bottom: none;
        background-color: #fff;
        font-size: 13px;
        font-weight: 400;
        @include transition(all 0.15s ease-in-out !important);

        &:hover {
            color: #ff9c0a;
        }

        &:active,
        .active {
            background: #ff9c0a;
            color: #fff;
        }
        @media only screen and (max-width : 992px) {
            padding-left: 15px;
            font-size: 15px;
        }
    }
}

.navbar-brand {
    height: auto;
    width: 155px;
    padding: 5px;
    width: 164px;
    padding: 10px 20px 10px 10px;

    & > img {
        width: 100%;
    }
}

.navbar-nav .navbar-search-icon {
    bottom: 1px;
    left: 165px;
    display: block;
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
    padding: 17px 22px;
    cursor: pointer;

    i.mobile {
        line-height: 2;
        font-size: 17px;
        color: #fd8204;
    }

    &:hover {
        background: #ffa31b !important;

        i {
            color: #fff;
        }
    }
}

.btn-login {
    padding: 11px 20px !important;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    color: #888 !important;
    margin: 10px 0 0 12px;
    background-color: transparent !important;
    border: 2px solid #ddd !important;
}

.btn-register {
    padding: 13px 30px !important;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    color: #ffffff !important;
    margin-top: 10px !important;
    margin-left: 10px !important;
    background-color: #3580de !important;
}
// ---------------------------------------------------------- Default Footer
footer {
    padding: 40px 0 10px;
    background: #222;
    color: #ccc;
    font-family: "Poppins", sans-serif;
    font-size: 11px;
    line-height: 21px;

    h5 {
        color: #ffffff;
        text-transform: uppercase;
        font-size: 12px;
        margin: 5px 0;
        font-family: 'Rubik', sans-serif;
        font-weight: 400;
    }

    ul {
        list-style: none;
        padding-left: 0;
        margin: 0;

        li > a {
            color: #ccc;

            &:hover {
                color: #fff;
            }
        }
    }

    .copyrights {
        border-top: 1px solid #444;
        padding: 20px 0 0;
        margin-top: 30px;

        p {
            font-size: 11px;
            margin: 20px 0;
        }
    }

    .txt-center {
        text-align: center;
    }
}

.nav-search-container {
    position: fixed;
    padding: 8px 14px;
    background: #fff;
    z-index: 33;
    top: 0;
    @include transition(all 0.15s ease-in-out);
    border-bottom: 1px solid #eee;
    -webkit-box-shadow: 0 6px 36px -15px rgba(189,189,189,1);
    -moz-box-shadow: 0 6px 36px -15px rgba(189,189,189,1);
    box-shadow: 0 6px 36px -15px rgba(189,189,189,1);

    &.-open {
        top: 68px;
    }

    .input-group #search-input {
        border: none;
        margin-left: 10px;
        font-size: 16px;
        vertical-align: middle;
        padding: 11px 11px 11px 35px;
        width: 100%;
        margin: 0;
        right: 0;
        border: 0;
        float: right;
        box-shadow: none;

        &:active,
        &:focus {
            outline: 0 !important;
        }
    }
}

#generic-search {
    width: 100%;
    height: 100%;

    .navbar-search-icon {
        position: absolute;
        z-index: 33;
        top: 7px;
        margin-left: 10px;
        font-size: 14px;
        color: #888;
    }

    .btn-select {
        width: 156px;
        overflow: hidden;
        padding-left: 2px;

        select {
            padding: 5px 8px;
            box-shadow: none;
            background: transparent;
            background-image: none;
            -webkit-appearance: none;
            border: 0;
            border-right: 1px solid #eee;
            color: #555555;
            background-color: #fff;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
            width: 110%;
            vertical-align: middle;
            font-size: 16px;

            &:active,
            &:focus {
                outline: none !important;
            }
        }

        &:after {
            font-family: "Material Icons";
            content: '\E313';
            color: #aaa;
            position: absolute;
            right: 10px;
            top: 3px;
            font-size: 20px;
            right: 7px;
            z-index: 33;
        }
    }
}

#school-search-options {
    border-right: 1px solid #ccc;
}
// ---------------------------------------------------------- Content
#main-search-bar {
    position: relative;
    padding: 50px 0;
    background: white;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    background-image: -webkit-linear-gradient(transparent 50%, #555 100%),url('../images/tech-voc-2.jpg');

    h1,
    p {
        color: #fff;
    }

    .page-header-title {
        text-align: center;
        position: relative;
        padding: 0 35px;
        margin: 40px auto;

        h1 {
            font-size: 32px;
            text-shadow: 0 0 16px #444;
        }

        .page-header-subtitle {
            font-size: 1.4em;
            font-family: "Poppins", sans-serif;
            text-shadow: 0 0 16px #444;
        }
    }

    &:before {
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(135deg, rgba(157, 225, 251, 0.69) 0%, rgba(253, 156, 56, 0.79) 100%);
    }
}

#schools-search {
    -webkit-box-shadow: 0 6px 36px -15px #000;
    -moz-box-shadow: 0 6px 36px -15px #000;
    box-shadow: 0 6px 36px -15px #000;
    max-width: 900px;
    margin: 0 auto;

    input[type="text"] {
        height: 55px;
        font-size: 16px;
        vertical-align: middle;
        border: 0;
        font-family: "Poppins", sans-serif;
        border-radius: 3px 0 0 3px;
        box-shadow: none;
    }

    .input-group-btn {
        .btn-search {
            height: 55px;
            padding-left: 25px;
            padding-right: 25px;
            line-height: 1em;
            color: #fff;
            background: #fd9c38;
        }

        &.dropdown {
            height: 55px;
            width: 30%;
            overflow: hidden;
            padding-left: 2px;
            border-left: 1px solid #eee;
            background: #fff;

            select {
                height: 55px;
                padding: 5px 8px;
                width: 110%;
                border: none;
                box-shadow: none;
                background: transparent;
                background-image: none;
                -webkit-appearance: none;
                font-family: "Poppins", sans-serif;
                font-size: 16px;
                vertical-align: middle;
            }

            &:after {
                font-family: "Material Icons";
                content: '\E313';
                color: #aaa;
                position: absolute;
                right: 10px;
                top: 14px;
                font-size: 20px;
                right: 7px;
                z-index: 33;
            }
        }
    }
}

//-------------------------------------------------------------------- Filter
.filter{
  margin: 0 auto;
  text-align: center;
  margin-top: -15px;
  position: relative;

  button{
    color: #fff;
    padding: 10px 30px;
    border-radius: 25px;
    border: 0px;
    box-shadow: #676767 0px 1px 3px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 4px;
    font-size: 12px;
    background: #929292;
    outline:0px !important;
    -webkit-appearance:none;
  }

  .order{
    background: #fff;
    display: inline-block;
    width: 235px;
    margin: 0 auto;
    padding: 10px 0px;
    margin-top: 20px;
    border-radius: 6px;
    box-shadow: #bbbbbb 0px 5px 32px;
    position: absolute;
    z-index: 1;
    margin-left: -119px;
    list-style: none;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    visibility: hidden;
    opacity: 0;
    @include transition(all 0.2s ease-in-out !important);

    li a{
      margin-top: -1px;
      display: block;
      background: rgb(255, 255, 255);
      padding: 9px;
      color: #000;
      text-decoration: none;
      cursor: pointer;
      font-family: 'Poppins', sans-serif;
      font-weight: bolder;
      font-size: 13px;
      text-align: left;

      &:hover{
        color: #fff;
        background: #fd9c38;
      }


    }

    &:before{
      content: '';
      position: absolute;
      top: -8px;
      right: 108px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 8px 8px 8px;
      border-color: transparent transparent #fff transparent;
    }

    &.-open{
      -webkit-transform: translate3d(0,15px,0);
      transform: translate3d(0,15px,0);
      visibility: visible;
      opacity: 1;
    }
  }
}

#tech-voc-centers {
    padding-top: 40px;
    padding-bottom: 20px;
    min-height: 250px;

    .not-found {
        display: block;
        text-align: center;
        font-size: 24px;
        line-height: 1.5em;
        margin: 0 auto;
        color: #949494;
        text-shadow: #fff 0 1px;

        .search {
            color: #fd9c38;
        }
    }

    .tech-voc-container {}

    .tech-voc {
        ul.item {
            list-style-type: none;
            margin: 0;
            padding: 20px 20px 15px;
            margin-bottom: 20px;
            min-height: 146px;
            border-radius: 3px;
            background: #fff;
            border-radius: 3px;
            box-shadow: #dedede 0 1px 1px;
        }

        .name {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 16px;
            margin-bottom: 20px;
            color: #ff9800;
        }

        .address {
            font-family: "Poppins",sans-serif;
            font-weight: lighter;
            margin-bottom: 20px;
        }

        .region {}

        hr.divider {
            margin-top: 0;
            margin-bottom: 15px;
        }

        .program,
        .region {
            color: #909090;
            font-size: 10px;
            letter-spacing: 0.5px;
            font-family: 'Poppins', sans-serif;
            // display: none
            // position: absolute;
            // display: inline-block;
        }
        // .button{
        //   position: absolute;
        //   bottom: 36px;
        //   right: 35px;
        //
        //
        // }
        .extra-details-wrap {
            display: inline-block;
            width: 50%;
            vertical-align: middle;
        }

        .extra-details {
            list-style: none;
            padding: 0;
        }

        .button-wrap {
            display: inline-block;
            width: 50%;
            text-align: right;
        }

        button {
            color: #fff;
            border: 0;
            border-radius: 3px;
            padding: 10px 28px;
            font-size: 13px;
            background: #ffc045;
        }
    }
}
/*==========  Non-Mobile First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .navbar-toggle {
        margin: 0;
        display: block;
        padding: 23px;
        border-radius: 0;
        font-size: 15px;
        color: #ffa31b;
        border: none;
        cursor: pointer;

        &:hover {
            color: #fff;
            background: #ffa31b !important;
        }
    }

    .navbar-padding {
        padding-right: 0;
        padding-left: 5px;
    }

    .navbar-nav {
        margin: 0;

        &.toggle-buttons {
            position: absolute;
            right: 0;
        }

        .search-toggle {
            float: right;
            display: inline-block;

            &:hover {
                background: #ffa31b !important;

                i {
                    color: #fff;
                }
            }
        }
    }

    .navbar-right {
        position: absolute;
        height: 100%;
        width: 75%;
        margin: 0;
        padding: 0;
        margin-top: 68px;
        top: 0;
        left: 100%;
        @include transition(all 0.2s ease-in-out !important);
        background: #fff;
        position: fixed;
        float: right;
        overflow: auto;

        &.-open {
            left: 25%;
        }

        .navbar-nav > li {
            position: relative;
            display: block;
            width: 100%;
        }

        .btn-login,
        .btn-register {
            margin-right: 15px;
            padding: 13px 15px !important;
        }
    }

    .nav-search-container {
        width: 100%;
    }

    .navbar-nav > li > .dropdown-menu {
        position: relative;
        box-shadow: none;
        border: none;
        width: 100%;
    }
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
  .grid-item{
      padding: 0;
  }

  #tech-voc-centers .tech-voc ul.item{
    width: 266px;
  }
}
